
<body>

  <nav class="nav nav-pills d-flex justify-content-end flex-sm-row " style="background-color: green">

    <a class="flex-sm-fill text-sm-center nav-link" href="/addactivity" style="color: white">New Activity</a>
    <a class="flex-sm-fill text-sm-center nav-link " href="/dashboard" style="color: white">My Dashboard</a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="/allpals" style="color: white">View All
      Members</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/upduser" style="color: white">Update Profile</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/" style="color: white">Sign Out</a>

     <a class="navbar-brand">
      <img src="../assets/img/codepals_logo-02.png" width="60" class="d-inline-block align-center" alt="">

    </a> 
  </nav>


  <div class="container">
    <div class="card-body">

      <div class="card-header" style="color: black;">
        <div class="col-sm">
          <img src='./assets/images/dashImage.jpg' class="imgPort">
          <h3>All Members</h3>
          <div class="row">
            {{#each users}}
            <div class="column">
              <div class="card" style="width:60%">
                <img src={{users.photoLink}} alt="MemberPic" style="width:100%">
                <div class="container">
                  <p> <strong>{{users.firstName}} {{users.lastName}}</strong> </p>
                  <!-- <p class="title">Coding Novice</p> -->
                  <p>My Skills: {{users.skills.id}}</p>
                  <p>{{users.email}}</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
            {{/each}}



          </div>

        </div>
      </div>

</body>

</html>