{{!-- Calling Client JS --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{!--     <a class="navbar-brand" href="#">
        <img src="../public/assets/img/codepals_logo-02_m.png">
    </a> --}}
  <a class="navbar-brand" href="#" style="color: #E23B0F">codePals</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/allpals">View Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upduser">Update Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="card-body"></div>

    <div class="card-header">
        <h3 class="text-success">All Members</h3>

        <div class="row m-5">
          {{!-- Prints out Each user Info --}}
          {{#each users}}
            <div class="col-6">
            <div class="card">
              <img src={{photoLink}} alt="MemberPic" style="width:100%">
              <div class="container">
                <h3>{{firstName}} {{lastName}}</h3>
                <p> <strong>Skills: </strong>
                  {{!-- All user skills for each user --}}
                  {{#each skills}}
                  <ul>
                    <li>{{skillType}} - {{skill}}</li>
                  </ul>
                  {{/each}}
                </p>
                <label>Email : <a href="mailto:"{{email}}>{{email}}</a></label>
                <p><button class="button btn-warning" onclick="mailto:" {{email}}>Invite Member</button></p>
              </div>
               <br />
            </div>
            </div>
          {{/each}}
         
          {{!-- End of row --}}
        </div> 
        
    </div>
  </div>
</div>