<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{!--     <a class="navbar-brand" href="#">
        <img src="../public/assets/img/codepals_logo-02_m.png">
    </a> --}}
    <a class="navbar-brand" href="#" style="color: #E23B0F">codePals</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/allpals">View Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upduser">Update Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="headerLogo" href="/addactivity">
                    Create New Activity</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div>
        <h1>Welcome {{firstName}} {{lastName}}</h1> You know: 
        {{#each skills}}
        <span class="badge badge-warning">{{skill}}</span>
        {{/each}}
    </div>
    
    



    <div class="card-body">

        <div class="card-header" style="color:rgb(19, 235, 152);">
            <div class="col-sm">
                <img src='./assets/images/dashImage.jpg' class="imgPort">
                <h3>My Projects</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Interested?</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each myActivities}}

                        <tr>
                            <td>{{estimateStartDate}}</td>
                            <td>{{title}} </td>
                            <td>{{actType}}</td>
                            <td>{{description}}</td>
                            <td>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-activityId={{id}} id="customSwitch{{id}}"
                                        class="custom-control-input projInterest">
                                    <label class="custom-control-label" for="customSwitch{{id}}">Interested?</label>
                                </div>
                            </td>
                            {{#if isMine}}
                            <td><a href="/updactivity/{{id}}"><button class="btn btn-primary updateAct" data-activityId={{id}}>Update</button></a></td>
                            {{/if}}
                        </tr>


                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-header mt-5" style="color:rgb(25, 136, 94);">
            <div class="col-sm">
                <img src='./assets/images/dashImage.jpg' class="imgPort">
                <h3>Available Meetups</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Interested?</th>
                            <th scope="col">Update</th>

                        </tr>
                    </thead>
                    <tbody>

                        {{#each allActivities}}
                        <tr>
                            <td>{{estimateStartDate}}</td>
                            <td>{{title}} </td>
                            <td>{{actType}}</td>
                            <td>{{description}}</td>
                            <td>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" data-activityId={{id}} id="customSwitch{{id}}"
                                        class="custom-control-input projInterest">
                                    <label class="custom-control-label" for="customSwitch{{id}}">Interested?</label>
                                </div>
                            </td>
                            {{#if isMine}}
                            <td><a href="/updactivity/{{id}}"><button class="btn btn-primary updateAct" data-activityId={{id}}>Update</button></a></td>
                            {{/if}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<script>
    $(document).ready(function () {
        $(".projInterest").on("change", function (event) {
            event.preventDefault();
            var data = { activityId: $(this).attr("data-activityId") }
            if ($(this).is(':checked')) {
                data.interested = true;
            }
            else {
                data.interested = false;
            };
            console.log(data)
            $.ajax("/updateinterest", {
                method: 'PUT',
                data: data
            }).then(function (response) {
                console.log(response)
            })
        });

    });
</script>