<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
<link rel="stylesheet" href="../public/assets/css/style.css">
{{!-- BootStrap Additional Files  --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
        {{!-- <a class="navbar-brand" href="#">
        <img src="../public/assets/img/codepals_logo-02_m.png">
    </a> --}}
    <a class="navbar-brand" href="/dashboard" style="color: #E23B0F" data-toggle="tooltip" title="Navigate to my dashboard">codePals</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/allpals" data-toggle="tooltip" title="View All code pals">View Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upduser" data-toggle="tooltip" title="My Information">Update Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="headerLogo" href="/addactivity" data-toggle="tooltip" title="Create New Project/Meetup Event">
                    Create New Activity</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout" data-toggle="tooltip" title="Goodbye....see you again">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row mt-5">
    <div class="col-4 ml-5">
        <div class="card-body">
            <form>
                <fieldset class="card-header">
                    <legend class="scheduler-border" data-toggle="tooltip" title="Please enter acquired new Skill">Add New Skill</legend>
                    <label for="skill name" class="required"> Skill Name : </label>
                    <input type="text" id="skillName">
                    <br>

                    <label for="skill type">Skill Type:</label>
                    <select data-placeholder="Choose an option please" id="skillType" class="form-control chosen"
                        class="required" data-toggle="tooltip" title="Please select a skill type">
                        <option value="">Choose an option please</option>
                        <option value="Front End">Front End</option>
                        <option value="Back End">Back End</option>
                    </select>



                    <br />
                    <button class="btn-success" type="submit" id="btn-newSkill">Add User Skill</button>
                    <br />
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3" data-toggle="tooltip" title="See all my information">
                <i class="fas fa-user-plus"></i> Update Profile
            </h1>
            <div class="form-group">
                <label for="first name">First Name</label>
                <input type="firstName" id="firstName" name="firstName" class="form-control"
                    placeholder="Enter First Name" value={{firstName}} tabindex="0" pattern="[A-Za-z]"
                    title="Letters only and no spaces" />
            </div>

            <div class="form-group">
                <label for="last name">Last Name</label>
                <input type="lastName" id="lastName" name="lastName" class="form-control" placeholder="Enter Last Name"
                    value={{lastName}} tabindex="1" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" disabled id="email" name="email" class="form-control" placeholder="Enter Email"
                    value={{email}} />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
                    value={{passw}} tabindex="2" disabled/>
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" placeholder="000-000-0000" required value={{phone}}
                    tabindex="3"><br>
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input id="city" type="text" autocomplete="city" required value={{city}} tabindex="4"><br>
            </div>

            <div class="form-group">
                <label for="city">State:</label>
                <input id="state" type="text" autocomplete="city" required value={{state}} tabindex="5"><br>
            </div>

            <div class="form-group">
                <label for="photo">Photo:</label>
                <input id="photo" type="text" autocomplete="photo" required value={{photoLink}} tabindex="6"
                    autofocus><br>
            </div>

            <div class="form-group">
                <label>Existing Skill Sets:
                    {{#each userSkills}}
                    {{value}}
                    {{/each}}
                </label>
                <select id="selectSkills" class="form-control chzn-select" multiple="true">
                    {{#each skills}}
                    <option id={{id}}>{{value}}</option>
                    {{/each}}
                </select>
            </div>
        </div>


        <a href="/dashboard"><button class="btn-success" type="submit" id="btn-update">Update User</button></a>

    </div>
</div>

</div>

{{!-- This code helps the dropdown list too have multiple select & coool tooltip  --}}
<script type="text/javascript">
    $(function () {
        $(".chzn-select").chosen();
    });
    //TO display tooltips using bootstrap 
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

{{!-- Calling Client JS --}}
<script src="/assets/js/users.js"></script>