<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
<link rel="stylesheet" href="../public/assets/css/style.css">


<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="../public/assets/img/codepals_logo-02_m.png">
    </a> 
    <a class="navbar-brand" href="#" style="color: #E23B0F">codePals</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/allpals">View Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upduser">Update Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row mt-5">
    <div class="col-4 ml-5">
        <div class="card-body">
                <form>
                    <fieldset class="card-header">
                        <legend class="scheduler-border">Add New Skill</legend>
                        <label for="skill name" class="required"> Skill Name : </label>
                        <input type="text" id="skillName">
                        <br>
                        <label for="skill type">Skill Type:</label>
                        <input type="text" id="skillType" placeholder="Front-end or Back-End Skill"><br>
                        </fields>
                        <br />
                        <button class="btn-success" type="submit" id="btn-newSkill">Add User Skill</button>
                        <br />
                    </fieldset>
                </form>
            </div>
    </div>
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-user-plus"></i> Update Profile
            </h1>
            <div class="form-group">
                <label for="first name">First Name</label>
                <input type="firstName" id="firstName" name="firstName" class="form-control"
                    placeholder="Enter First Name" value={{firstName}} tabindex="0" 
                    pattern="[A-Za-z]" title="Letters only and no spaces" />
            </div>

            <div class="form-group">
                <label for="last name">Last Name</label>
                <input type="lastName" id="lastName" name="lastName" class="form-control" placeholder="Enter Last Name"
                    value={{lastName}} tabindex="1" />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" disabled id="email" name="email" class="form-control" placeholder="Enter Email"
                    value={{email}} />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
                    value={{passw}} tabindex="2" />
            </div>

            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="tel" id="phone" name="phone" placeholder="000-000-0000" required value={{phone}}
                    tabindex="3"><br>
            </div>

            <div class="form-group">
                <label for="city">City:</label>
                <input id="city" type="text" autocomplete="city" required value={{city}} tabindex="4"><br>
            </div>

            <div class="form-group">
                <label for="city">State:</label>
                <input id="state" type="text" autocomplete="city" required value={{state}} tabindex="5"><br>
            </div>

            <div class="form-group">
                <label for="photo">Photo:</label>
                <input id="photo" type="text" autocomplete="photo" required value={{photoLink}} tabindex="6" autofocus><br>
            </div>

            <div class="form-group">
               <label>Existing Skill Sets: 
                   {{#each userSkills}}
                        {{value}}
                    {{/each}}
                </label>
                <select id="selectSkills" class="form-control chzn-select" multiple="true">
                    {{#each skills}}
                    <option id={{id}}>{{value}}</option>
                    {{/each}}
                </select>
                </div>
            </div>
           

            <button class="btn-success" type="submit" id="btn-update">Update User</button>

        </div>
    </div>
     
</div>

{{!-- This code helps to give it the fancy look  --}}
<script type="text/javascript">
    $(function () {
        $(".chzn-select").chosen();
    });
</script>

{{!-- Calling Client JS --}}
<script src="/assets/js/users.js"></script>